<!DOCTYPE html>
<html>
<head>
	<title>Symoon</title>
			<link href="/static/me/css/bootstrap.css" rel="stylesheet">
			<link href="/static/me/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Peak Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->	
	<!-- js -->
		<script type="text/javascript" src="/static/me/js/jquery.min.js"></script>
		<script src="/static/me/js/modernizr.custom.97074.js"></script>
	<!-- js -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="/static/me/js/move-top.js"></script>
		<script type="text/javascript" src="/static/me/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
<!-- banner -->
<div id="home" class="banner">
	<div class="container">
		<div class="banner-grids">
			<div class="col-md-4 navigation">
				<div class="nav-left">
					<div class="grid__item color-4">
						<a class="link link--kumya" href="/index/"><span data-letters="Symoon">Symoon</span></a>
					</div>
				</div>
				<div class="nav-right">
						<span class="menu"><img src="/static/me/images/i.png" alt="" /></span>
							<nav class="cl-effect-1">
								<ul class="nav1">
									<li><a class="scroll" href="#home">Me</a></li>
									<li><a class="scroll" href="#about">About</a></li>
									<li><a class="scroll" href="#contact">Contact</a></li>
								</ul>
							</nav>
							<!-- script for menu -->
							<script> 
								$( "span.menu" ).click(function() {
								$( "ul.nav1" ).slideToggle( 300, function() {
								 // Animation complete.
								});
								});
							</script>
							<!-- //script for menu -->

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-8 banner-image text-center">
				<img src="/static/img/iron-man.png" alt=""style="margin-left: 300px">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- about -->
<div id="about" class="about">
	<div class="container">
		<div class="about-info">
				<h3>About me</h3>
				<h4>一个走在路上的程序员</h4>
				<p>大学主修嵌入式系统工程专业，大学期间自学Python语言，喜欢一个人安静的编程，对前后端开发都非常有兴趣，热爱互联网行业。</p>
		</div>
		<div class="about-grids">
		   	<div class="col-md-6 about-grid">
		   		<h4>经历</h4>
		   		<p>大学与工作都是在做后台开发，主要开发项目：CRM、Restful(前后端分离)课程购买系统、BBS等</p>
		   	</div>
		   	<div class="col-md-6 about-grid">
		   		<h4>我的优势</h4>
		   		<p>熟悉后端开发的工作流程，熟悉前后端分离的工作模式，熟悉Python全栈的工作流程，可以进行快速开发，接受新技术的能力强</p>
		   	</div>
		   	<div class="clearfix"> </div>
		</div>   
	</div>
</div>
<!-- //about -->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
<!-- my skills -->
	<div class="our-skills">
		<div class="container">
			<div class="skill-info">
				<h2>MY SKILLS</h2>
			</div>
			<div class="skill-grids">
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>Python</p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>HTML/CSS/JS/jQuery/bootstrap</p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>Pe8规范</p>
					</div>
					<div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Django、Flask(熟练)、Tornado(了解)</p>
					</div>
                <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Python网络编程/并发</p>
					</div>
                  <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Restful、Django-restframework(熟练)</p>
					</div>
                 <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>MySQL(熟悉)、redis(了解)、Mangodb(了解)</p>
					</div>
                   <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Scrapy(了解),re、xpath等正则模块</p>
					</div>
                 <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Git(熟练)</p>
					</div>
                    <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Linux基本命令</p>
					</div>
                  <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Vue(了解)</p>
					</div>
                    <div class="col-md-3 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Websocket(了解)</p>
					</div>
					<div class="clearfix"> </div>
				 </div>
		</div>	
	</div>
<!-- //my skills -->
<!-- get-in -->
<div id="contact" class="get-in-touch">
	<div class="container">
		<div class="get-info text-center">
			<h3>GET IN TOUCH</h3>
			<h4><i>Python后端工作</i></h4>
			<p>python后端开发工作请联系(*^▽^*)</p>
		</div>
	</div>
</div>
<!-- //get-in -->
<!-- contact-us -->
<div class="contact-us">
	<div class="container">
		<div class="contact-grids">
			<div class="col-md-4 contact-grid text-center">
				<div class="point-icon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
				<p>北京</p>
			</div>
			<div class="col-md-4 contact-grid text-center">
				<div class="point-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
				<p><a href="mailto:597426245@qq.com">597426245@qq.com</a></p>
			</div>
			<div class="col-md-4 contact-grid text-center">
				<div class="point-icon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
				<p>1761*******</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //contact-us -->
<!-- footer -->
<div class="copy-right">
	<div class="container">
		<p></p>
	</div>
</div>
<!-- footer -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>
